@model CartViewModel
@{
    ViewData["Title"] = "Index";
}

@if (Model.Count > 0 && Model != null)
{
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center py-3">
                        <h2 class="h3 font-weight-semibold text-white mb-0 mr-auto">
                            Shopping Cart <div class="font-weight-light d-inline">(@Model.Total)</div>
                        </h2><a class="btn btn-outline-light" href="shop.html" role="button">Back to shop</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="bg-white border-bottom" aria-label="breadcrumb">
        <div class="container">
            <div class="d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="shop.html">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </div>
        </div>
    </nav>
    <section class="py-lg-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped border align-items-center table-layout-fixed">
                            <thead>
                                <tr>
                                    <th class="d-none d-lg-table-cell text-center" scope="col"
                                        style="width: 150px;">Product</th>
                                    <th scope="col" style="width: 450px;">Title</th>
                                    <th scope="col" class="text-center" style="width: 80px;">Price</th>
                                    <th scope="col" class="text-center text-nowrap" style="width: 160px;">
                                        Quantity
                                    </th>
                                    <th scope="col" class="text-center" style="width: 80px;">Total</th>
                                    <th scope="col" style="width: 80px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <td class="d-none d-lg-table-cell text-center">
                                            <div class="img-thumbnail rounded d-inline-block">
                                                <img class="rounded"
                                                     style="height: 100px"
                                                     src="@item.ItemImage">
                                            </div>
                                        </td>
                                        <td>
                                            <h6><a asp-action="ShopGameDetail" asp-controller="Home" asp-route-id="@item.Id">@item.ItemName</a></h6>

                                        </td>
                                        <td class="text-center">$@item.ItemPrice</td>
                                        <td class="text-center">
                                            <input asp-for="@item.ItemCount" />
                                            @*<div class="input-group quantity">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-link font-size-xs minus" type="button">
                                                        <i class="ya ya-minus m-0"></i>
                                                    </button>
                                                </div><input type="number" class="form-control text" value="1" min="1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-link font-size-xs plus" type="button">
                                                        <i class="ya ya-plus m-0"></i>
                                                    </button>
                                                </div>
                                            </div>*@
                                        </td>
                                        <td class="text-center">$@item.ItemTotalPrice</td>
                                        <td class="text-center">
                                            <form method="post" asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id="@item.Id">
                                                <button type="submit" class="btn btn-link p-0"
                                                        data-toggle="tooltip" title="Remove from cart">
                                                    <i class="ya ya-trash"></i>
                                                </button>
                                                </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="d-md-flex align-items-start mt-2 mb-4 mb-md-4">
                <form class="form-inline mb-4 mb-md-0">
                    <div class="form-group mb-0 mr-2">
                        <input type="password" class="form-control"
                               placeholder="Enter coupon code">
                    </div><button type="button"
                                  class="btn btn-secondary">
                        Apply Coupon
                    </button>
                </form>
                <div class="d-flex d-md-block flex-column ml-md-auto">
                    <form method="post" asp-action="ClearCart" asp-controller="Cart">
                        <button class="btn btn-outline mr-md-1 mb-2 mb-md-0" type="submit">
                            Clear Cart
                        </button>
                    </form>
                    <a class="btn btn-primary" href="shop-checkout.html" role="button">Proceed to Checkout</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-default mb-4 mb-md-0">
                        <h6 class="card-header">Calculate Shipping</h6>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="country">Country</label><select class="selectpicker w-100" id="country" data-live-search="true"
                                                                                title="Nothing selected">
                                        <option>United Kingdom</option>
                                        <option>United States</option>
                                        <option>Spain</option>
                                        <option>Italy</option>
                                    </select><small id="countryHelp" class="form-text text-muted">
                                        Saw yet
                                        kindness too replying whatever marianne.
                                    </small>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label for="address">Address</label><input type="text"
                                                                                   class="form-control" id="address" placeholder="Enter Address">
                                    </div>
                                    <div class="col-6">
                                        <label for="zip">Zip</label><input type="text"
                                                                           class="form-control" id="zip" placeholder="Postal Code">
                                    </div>
                                </div><button type="button" class="btn btn-secondary">Update Totals</button>
                            </form>
                        </div>
                    </div><!-- end .card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-default mb-0">
                        <h6 class="card-header">Order Summary</h6>
                        <div class="card-body">
                            <p>
                                Shipping and additional costs are calculated based on values you have entered.
                            </p>
                            <table class="table table-striped mt-4 mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row">Cart Subtotal</th>
                                        <td class="text-right">$@Model.Total</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Shipping</th>
                                        <td class="text-right">$0.00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tax</th>
                                        <td class="text-right">$0.00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Order Total</th>
                                        <td class="text-right"><strong class="text-danger">$@Model.Total</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- end .card -->
                </div>
            </div>
        </div>
    </section>
}
else
{
<div class="container">
    <p>Your cart is empty</p>
    <img src="~/images/cartEmpty.jpg" alt="Cart is empty" width="400" />
</div>
}
